  		@import url('https://fonts.googleapis.com/css?family=Ubuntu');
  		@import url('https://fonts.googleapis.com/css?family=Oswald');
  		@import url('https://fonts.googleapis.com/css?family=PT+Serif');

  		body {
  			/*font-family: 'PT Serif', sans-serif;*/
        font-family: Arial, sans-serif;
  			background-color: #ffffff;
  		}

  		.screen1 {
  			/*background-color: #85929E;*/
  		}

  		.screen2 {
  			/*background-color: #85929E;*/
  		}

  		.screen3 {
  			/*background-color: #85929E;*/
  		}

  		.screen4 {
  			/*background-color: #85929E;*/
  		}

  		.screen5 {
  			/*background-color: #85929E;*/
  		}

  		.screen6 {
  			/*background-color: #85929E;*/
  		}

  		.Title {
  			font-family: 'Oswald', sans-serif;
  			text-align: center;
  			font-size: 4rem;
  			font-weight: 10;
  		}

      .footer {
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: 1em;
        color: #5D6D7E;
      }
  		
  		.para {
  			/*text-align: center;*/
  			font-size: 1.5rem;
  			width: 60%;
  			margin: 0 auto;
  		}

  		.circle-para {
  			position: sticky;
  			position: -webkit-sticky;
  			top: 0;
  			height: 700px;
  			/*width: 90%;*/
  			z-index: 50;
  			/*border: 2px solid #4CAF50;*/
  			margin: 0 auto;
  		}
		
		.filler {
			height: 800px;
			width: 30%;
			/*border: 2px solid;*/
		}

		.filler2 {
			/*float: right;*/
			margin-left: auto;
			height: 800px;
			width: 30%;
			/*border: 2px solid;*/
		}

		.animation2 {
			float: right;
  			position: sticky;
  			position: -webkit-sticky;
  			top: 0;
  			height: 900px;
  			/*width: 90%;*/
  			/*z-index: 50;*/
  			/*border: 2px solid #4CAF50;*/
  			width: 65%;
  		}

  		.animation3 {
  			/*align-self: left;*/
  			position: sticky;
  			position: -webkit-sticky;
  			top: 0;
  			height: 900px;
  			/*width: 90%;*/
  			/*z-index: 50;*/
  			/*border: 2px solid #4CAF50;*/
  			width: 65%;
  		}

		.animation4 {
			float: right;
  			position: sticky;
  			position: -webkit-sticky;
  			top: 0;
  			height: 900px;
  			/*width: 90%;*/
  			/*z-index: 50;*/
  			/*border: 2px solid #4CAF50;*/
  			width: 65%;
  		}

		.animation5 {
  			position: sticky;
  			position: -webkit-sticky;
  			top: 0;
  			height: 900px;
  			/*width: 90%;*/
  			z-index: 50;
  			/*border: 2px solid #4CAF50;*/
  			margin: 0 auto;
  		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: black;
		  shape-rendering: crispEdges;
		}

		.axis text {
		  font-family: sans-serif;
		  font-size: 11px;
		}

		.tick line
		{
		  stroke: #909497;
		  opacity: 1;
		}

		g path.domain
		{
		  stroke: #4F4F4F;
		}

		/*.maphalfopaque {
			opacity: 0.2;
			filter: alpha(opacity=50);
		}*/
		/*.chart1 {
			float: right;
			position: -webkit-sticky;
		  	position: sticky;
		  	top: 0;
		  	height: 800px;*/
		  	/*border: 2px solid #4CAF50;*/
		 /* 	width: 63%;
		}*/
		
		/*.txtspace1 {
			width: 35%;
			height: 800px;
			top: 0;
			right: 10;
			text-align: center;			
			vertical-align: -300px;
			font-size: 1.5rem;
			overflow: scroll;*/
			/*border: 2px solid #4CAF50;*/
		/*}
		
		.chart2 {
			float: right;
			position: -webkit-sticky;
		  	position: sticky;
		  	top: 0;
		  	height: 800px;
		  	border: 2px solid #4CAF50;
		  	width: 63%;
		}
*/
